extend layout
block content
  p
    | Curabitur sed malesuada nisi. Nunc mollis et lectus tristique euismod. Aenean a euismod 
    | Pellentesque purus nunc, tincidunt eu arcu a, 
    | porta diam. Donec nulla lectus, pretium eget  
    | id, facilisis in eros. Donec eu  tortor. 
    | Donec turpis elit, sagittis at  imperdiet, 
    | vultrices sit amet purus. Phasellus  a nibh 
    | c viverra. Ut condimentum maximus tellus, ac  
    | nulla viverra eu. Nullam ante nisi, dignissim
    | tellus in, eleifend viverra augue. 
  p
    | Integer vel turpis quis libero convallis
    | pellentesque. Donec vel turpis eu tellus
    | dapibus hendrerit sit amet 
    | ac neque. Aenean vitae felis ut risus
    | venenatis fermentum quis et nibh.
    | Curabitur eleifend non libero vitae 
    | tincidunt. Nunc egestas tempus dictum.
block sidebar
  .widget
    h1 Ajankohtaista
    p
      | Sed auctor neque eu tellus rhoncus ut
      | eleifend nibh porttitor. Ut in nulla enim.
    p
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula.